.newZIndexSearchBar{
    z-index: 2;
}
.searchBtn{
    /*background: url('assets/svg/search-white-icon.svg');
    content: url('assets/svg/search-white-icon.svg');*/
    content: "lupa";
    width: 44px;
    height: 44px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}